@use '../../variables.scss';

.calendar {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);

  &__header {
    color: variables.$text-color;
    display: flex;
    height: 100px;
    padding-left: 48px;
    background: variables.$header-gradient;
  }

  &__day {
    position: relative;
    flex: 1;
    border-left: variables.$day-time_slot-border;
  }
}

.day-label__day-number_today {
  font-size: 22px;
  width: 35px;
  text-align: center;
  color: variables.$day_number-today-color;
  border-radius: 100%;
  background-color: variables.$day_number-today-background-color;
}

.day-label__day-name_today {
  color: variables.$day_name-today-color;
  font-size: 14px;
  text-transform: uppercase;
}
