.event {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: cornflowerblue;
  z-index: 1;
  border-radius: 8px;
  padding: 8px;
  color: #fff;
  cursor: pointer;

  &__title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 8px;
  }

  &__description {
    margin: 8px 0;
    display: block;
    width: 100%;
    height: 100%;
  }
  &__scroll {
    max-height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &:hover {
    font-weight: bold;
    background-color: red;
  }
}

.delete-event-btn {
  cursor: pointer;
  border: none;
}
