@import '../../variables.scss';

.event {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $event-color;
  z-index: 1;
  border-radius: 8px;
  margin: 0;
  padding: 8px;
  color: $text-color;
  cursor: pointer;

  &__title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 8px;
  }

  &__description-scroll {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    padding: 10px;
    max-height: calc(100% - 40px);
  }

  &__description-scroll::-webkit-scrollbar {
    width: 10px;
  }

  &__description-scroll::-webkit-scrollbar-thumb {
    background-color: $description-scroll-background-color;
    border-radius: 10px;
    border: $description-scroll-border;
  }

  &__description {
    display: block;
    width: 100%;
    height: 100%;
  }

  &:hover {
    background-color: $description-hover-color;
  }
}

.delete-event-btn {
  cursor: pointer;
  border: none;
  padding: 5px;
  background-color: $delete-btn-background-color;
  border-radius: 8px;
}
