@use '../../variables.scss';

.header {
  display: flex;
  height: 60px;
  padding: 0 48px;
  align-items: center;
  background: variables.$header-gradient;
}

.create-event-btn {
  padding: 0 16px;
  background-color: variables.$create-btn-background-color;

  &__icon {
    margin-right: 8px;
  }
}

.navigation {
  &__today-btn {
    margin-left: 32px;
    padding: 0 16px;
  }

  &__nav-icon {
    font-size: 16px;
    margin-left: 20px;
    color: variables.$text-color;
  }

  &__displayed-month {
    font-size: 18px;
    margin-left: 10px;
    color: variables.$text-color;
  }
}
