@use '../../variables.scss';

.calendar {
  &__time-scale {
    height: 100%;
    width: 48px;
    background: variables.$time-scale-background;
  }
}

.time-slot {
  height: 60px;
  width: 48px;
  text-align: right;
  color: variables.$text-color;

  &__time {
    font-size: 12px;
    opacity: 0.7;
    top: -12px;
    margin-right: 4px;
  }
}
