@use './variables.scss';

.button {
  height: 40px;
  border-radius: 8px;
  border: variables.$button-content-popup-border;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.icon-button {
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    background: variables.$popup-content-background;
    padding: 16px;
    border: variables.$button-content-popup-border;
    border-radius: 8px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: variables.$overlay-background-color;
  z-index: 10;
}

.popup {
  &__content {
    position: absolute;
    background: variables.$popup-content-background;
    padding: 16px;
    border: variables.$button-content-popup-border;
    border-radius: 8px;
  }
}

.hidden {
  display: none;
}
