$button-content-popup-border: 1px solid #ccc;
$popup-content-background: #fff;
$overlay-background-color: #cccccc45;

$day-time_slot-border: 1px solid #eee;
$line-border: 2px solid red;

$description-scroll-background-color: #888;
$description-scroll-border: 3px solid #f1f1f1;
$description-hover-color: #0571be;
$delete-btn-background-color: #eee;
$text-color: #fff;

$header-gradient: linear-gradient(
  90deg,
  rgba(2, 0, 36, 1) 0%,
  rgba(9, 9, 121, 1) 27%,
  rgba(0, 212, 255, 1) 90%
);
$create-btn-background-color: #fff;

$day_number-today-background-color: #e1ff00d2;
$day_number-today-color: rgba(9, 9, 121, 1);
$day_name-today-color: #e2ff00;

$time-scale-background: rgba(2, 0, 36, 1);
